input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font: 100% proxima-nova,Helvetica,Arial,sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
td{
    padding: 15px;
}
table{
    width: 80.5556%;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
}
tr {
    background-color: thistle;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    //color: white;
}
button{
    width: 200px;
    height: 80px;    
    background-color: #863d8d;    
    color: white;
    border: none;
    font: 100% proxima-nova,Helvetica,Arial,sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
}
textarea{
    width: 100%;
    height: auto;
}